.sidebar{
    position: fixed;
    padding: 20px;
    margin-top: 6px;
    width: 15%;
    height: 100%;
    background-color: #f7f7f7;
    border-right: 1px solid #ececec;
}

.sidebar ul li :link{
    text-decoration: none;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}